*{
    font-family: "Times New Roman", Times, serif;
}

.arrow{
   position: relative;
   top: 30%;
}

.btn-blue-bidon{
    background-color: #0072BB !important;
    color: white !important;
}

.btn-blue-bidon:hover{
    background-color: #3393ce !important;
    color: white !important;
}

.maxHeight{
    height: 300px !important;
}

.cardNoticia{
    position:relative;
    width: 320px;
    height: 420px;
    overflow:hidden;
    cursor: pointer;
}

.cardNoticia:hover, .cardSubNews:hover{
    border: .1px solid #3393ce;
}
  
.cardNoticia > div{
    height:100%;
    width:100%;
}
  
.cardNoticia .foreground{
    position:absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    transform:translateY(80%);
    background-color: #eee;
    transition:.5s ease;
}
  
.cardNoticia:hover .foreground{
    transform:translateY(70%);
}

.cardSubNews{
    cursor: pointer;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.content{
    margin-top: 80px;
}

.cursorPointer{
    cursor: pointer;
}

.customFooter{
    background-color: #0072BB; 
    color: white; 
    font-size: 12px; 
    opacity: .8; 
    padding-left: 10px;  
    padding-right: 10px;
    text-align: center; 
    vertical-align: middle;
}

.divsInfoHomepage, .divsFotos{
    display: none;
}


.fade-in-text {
    animation: fadeIn linear 1.5s;
    -webkit-animation: fadeIn linear 1.5s;
    -moz-animation: fadeIn linear 1.5s;
    -o-animation: fadeIn linear 1.5s;
    -ms-animation: fadeIn linear 1.5s;
}

.flecha /*, .carousel-indicators */ {
    filter: invert(100%);
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0072BB;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height:3px;
    bottom: 0;
    left: 0;
    background-color: #0072BB;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.inputSuccess{
    border-bottom: 2px solid green !important;
}

.inputError{
    border-bottom: 2px solid #E90B2F !important;
}

.inputJoinUs{
    display: none;
}

.joinus{
    cursor: help;
}

.logoBidon:hover{
    transform: scale(1.1);
    transition: 1s;
}

.masFotos{
    display: none;
}

nav .active{
    color: #0072BB !important;
    font-weight: bold;
}

.redes{
    font-size: 25px;
    color: #0072BB;
    margin-left: 20px;
}

.redes:hover{
    font-size: 25px;
    color: #09456b;
    margin-left: 20px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #999999;
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.subtituloForm{
   text-decoration: underline;
}

.table-grey{
    background-color: rgba(0,0,0,.03);
}

.text-blue-bidon{
    color: #0072BB;
}

.verMas:hover{
    transform: scale(1.1);
    transition: 1s;
}
  
/* Animación divs galeria de fotos */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
/* Fin animacion div galeria de fotos */

/* Media query para PC  */
@media (min-width: 1001px){
    .itemIndex{
        height: 600px;
    }

    /* Esta imagen es del card dentro de la pagina de noticias */
    .background img, .carruselIndex img{
        position: relative;
        top: -70px;
    }

    .divsFotos{
        margin: 15px;
    }

    .ultimasNoticias{
        margin-left: 50px;
    }
}


/* Media query para telefonos */
@media (max-width: 1000px) {
    
    .cardSubNews{
        margin-top: 50px !important;
        padding: 20px !important;
    }

    .carruselIndex img{
        height: auto !important;
    }

    .colNews{
        margin-top: 30px !important;
    }

    .divsFotos img{
        padding: 30px;
        margin-top: 15px;
    }

    .fotos{
        padding: 60px;
    }

    .fotos .card{
        margin-top: 25px;
    } 
    
    .itemIndex{
        height: 200px;
    }

    .jornada span{
        text-align: center;
        margin-left: 15px;
    }

    .noticiaDos{
        margin-top: 30px;
    }

    .sponsors img{
        margin: 10px auto;
    }

    .ultimasNoticias{
        margin: 15px !important;
    }
}   







